<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cehome.apimanager.model.po.AmUser">
	<resultMap id="BaseResultMap" type="com.cehome.apimanager.model.po.AmUser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,role_id,user_name,account,password,email,create_time,update_time
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_user
		WHERE
		id = #{id,jdbcType=INTEGER}
		LIMIT 1
	</select>
	
	<select id="findByAccount" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_user
		WHERE
		account = #{account,jdbcType=VARCHAR}
		LIMIT 1
	</select>
	
	<select id="findByAccountAndPass" resultMap="BaseResultMap" parameterType="com.cehome.apimanager.model.po.AmUser">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_user
		WHERE
			account = #{account,jdbcType=VARCHAR}
		AND
			password = #{password,jdbcType=VARCHAR}
		LIMIT 1
	</select>
	
	<select id="find" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_user
		WHERE
			1=1
		<if test="userName != null and userName != ''">
		AND
			user_name LIKE CONCAT('%',#{userName},'%')
		</if>
		<if test="roleId != null">
		AND
			role_id = #{roleId}
		</if>
		ORDER BY update_time DESC
		LIMIT #{pageOffset},#{pageSize}
	</select>
	
	<select id="findCount" parameterType="map" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM am_user
		WHERE
			1=1
		<if test="userName != null and userName != ''">
		AND
			user_name LIKE CONCAT('%',#{userName},'%')
		</if>
		<if test="roleId != null">
		AND
			role_id = #{roleId}
		</if>	
	</select>
	
	<select id="list" parameterType="com.cehome.apimanager.model.po.AmUser" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_user
		WHERE
			1=1
		<if test="userName != null and userName != ''">
		AND
			user_name LIKE CONCAT('%',#{userName},'%')
		</if>
		<if test="roleId != null">
		AND
			role_id = #{roleId}
		</if>
	</select>
	
	<insert id="insertSelective" parameterType="com.cehome.apimanager.model.po.AmUser" 
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO am_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
			id,
			</if>
			<if test="roleId != null">
			role_id,
			</if>
			<if test="userName != null">
			user_name,
			</if>
			<if test="account != null">
			account,
			</if>
			<if test="password != null">
			password,
			</if>
			<if test="email != null">
			email,
			</if>
			<if test="createTime != null">
			create_time,
			</if>
			<if test="updateTime != null">
			update_time
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null">
			#{id,jdbcType=INTEGER},
			</if>
			<if test="roleId != null">
			#{roleId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
			#{userName,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
			#{account,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
			#{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
			#{email,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
			#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
			#{updateTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.cehome.apimanager.model.po.AmUser">
		UPDATE am_user
		<set>
			<if test="roleId != null">
			role_id = #{roleId,jdbcType=INTEGER},
			</if>
			<if test="userName != null">
			user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
			account = #{account,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
			password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
			email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
			create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
			update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		</set>
		WHERE
			id = #{id,jdbcType=INTEGER}
	</update>

	<update id="changePassword" parameterType="com.cehome.apimanager.model.po.AmUser">
		UPDATE am_user
		<set>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		</set>
		WHERE
		id = #{id,jdbcType=INTEGER}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		DELETE FROM am_user WHERE id = #{id}
	</delete>
</mapper>