.el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
    margin-bottom: 5px;
}


.el-input__inner{
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    border-radius: 0px;
}
 
.el-big > .el-input__inner  {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 0px;
}


.el-input__icon {

    line-height: 22px;
}


.el-button {
	padding: 5px 10px;
	font-size: 12px;
    border-radius: 0px;
}