<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cehome.apimanager.model.po.AmDomain">
	<resultMap id="BaseResultMap" type="com.cehome.apimanager.model.po.AmDomain">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="env_id" property="envId" jdbcType="INTEGER" />
		<result column="project_id" property="projectId" jdbcType="INTEGER" />
		<result column="domain_code" property="domainCode" jdbcType="INTEGER" />
		<result column="domain_name" property="domainName" jdbcType="VARCHAR" />
		<result column="sort_code" property="sortCode" jdbcType="INTEGER" />
		<result column="create_user" property="createUser" jdbcType="INTEGER" />
		<result column="update_user" property="updateUser" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,env_id,project_id,domain_code,domain_name,sort_code,create_user,update_user
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_domain
		WHERE
		id = #{id,jdbcType=INTEGER}
		LIMIT 1
	</select>
	
	<select id="find" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_domain
		WHERE
			1=1
		<if test="envId != null">
		AND
			env_id = #{envId,jdbcType=INTEGER}
		</if>
		<if test="domainName != null and domainName != ''">
		AND
			domain_name LIKE CONCAT('%', #{domainName,jdbcType=VARCHAR},'%')
		</if>
		ORDER BY env_id, sort_code
		LIMIT #{pageOffset},#{pageSize}
	</select>
	
	<select id="findCount" parameterType="map" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM am_domain
		WHERE
		1=1
		<if test="envId != null">
        AND
			env_id = #{envId,jdbcType=INTEGER}
		</if>
		<if test="domainName != null and domainName != ''">
		AND
			domain_name LIKE CONCAT('%', #{domainName,jdbcType=VARCHAR},'%')
		</if>
	</select>
	
	<select id="list" parameterType="com.cehome.apimanager.model.po.AmDomain" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_domain
		WHERE
		1=1
		<if test="envId != null">
        AND
			env_id = #{envId,jdbcType=INTEGER}
		</if>
		<if test="projectId != null">
			AND
			project_id = #{projectId,jdbcType=INTEGER}
		</if>
		<if test="domainCode != null">
        AND
			domain_code = #{domainCode,jdbcType=INTEGER}
		</if>
		<if test="domainName != null and domainName != ''">
		AND
			domain_name LIKE CONCAT(#{domainName,jdbcType=VARCHAR},'.%')
		</if>
		ORDER BY sort_code
	</select>

	<insert id="insertSelective" parameterType="com.cehome.apimanager.model.po.AmDomain"
			useGeneratedKeys="true" keyProperty="id">
		INSERT INTO am_domain
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="envId != null">
				env_id,
			</if>
			<if test="projectId != null">
				project_id,
			</if>
			<if test="domainCode != null">
				domain_code,
			</if>
			<if test="domainName != null">
				domain_name,
			</if>
			<if test="sortCode != null">
				sort_code,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="updateUser != null">
				update_user
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="envId != null">
				#{envId,jdbcType=INTEGER},
			</if>
			<if test="projectId != null">
				#{projectId,jdbcType=INTEGER},
			</if>
			<if test="domainCode != null">
				#{domainCode,jdbcType=INTEGER},
			</if>
			<if test="domainName != null">
				#{domainName,jdbcType=VARCHAR},
			</if>
			<if test="sortCode != null">
				#{sortCode,jdbcType=INTEGER},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=INTEGER},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=INTEGER}
			</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="com.cehome.apimanager.model.po.AmDomain">
		UPDATE am_domain
		<set>
			<if test="envId != null">
				env_id = #{envId,jdbcType=INTEGER},
			</if>
			<if test="projectId != null">
				project_id = #{projectId,jdbcType=INTEGER},
			</if>
			<if test="domainName != null">
				domain_name = #{domainName,jdbcType=VARCHAR},
			</if>
			<if test="domainCode != null">
				domain_code = #{domainCode,jdbcType=VARCHAR},
			</if>
			<if test="sortCode != null">
				sort_code = #{sortCode,jdbcType=INTEGER},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=INTEGER}
			</if>
		</set>
		WHERE
		id = #{id,jdbcType=INTEGER}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		DELETE FROM am_domain WHERE id = #{id}
	</delete>
</mapper>