<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cehome.apimanager.model.po.AmTestGroup">
	<resultMap id="BaseResultMap" type="com.cehome.apimanager.model.po.AmTestGroup">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="group_name" property="groupName" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id,group_name,create_user,create_time,update_user,update_time
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_test_group
		WHERE
		id = #{id,jdbcType=INTEGER}
		LIMIT 1
	</select>
	
	<select id="find" parameterType="map" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_test_group
		WHERE
			1=1
		<if test="groupName != null and groupName != ''">
		AND
			group_name LIKE CONCAT('%',#{groupName},'%')
		</if>
		ORDER BY create_time DESC
		LIMIT #{pageOffset},#{pageSize}
	</select>
	
	<select id="findCount" parameterType="map" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM am_test_group
		WHERE
			1=1
		<if test="groupName != null and groupName != ''">
			AND
			group_name LIKE CONCAT('%',#{groupName},'%')
		</if>
	</select>
	
	<select id="list" parameterType="com.cehome.apimanager.model.po.AmTestGroup" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM am_test_group
		WHERE
			1=1
		<if test="groupName != null and groupName != ''">
			AND
			group_name LIKE CONCAT('%',#{groupName},'%')
		</if>
		ORDER BY create_time DESC
	</select>

	<insert id="insertSelective" parameterType="com.cehome.apimanager.model.po.AmTestGroup"
			useGeneratedKeys="true" keyProperty="id">
		INSERT INTO am_test_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="groupName != null">
				group_name,
			</if>
			<if test="createUser != null">
				create_user,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateUser != null">
				update_user,
			</if>
			<if test="updateTime != null">
				update_time
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="groupName != null">
				#{groupName,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				#{createUser,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				#{updateUser,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="com.cehome.apimanager.model.po.AmTestGroup">
		UPDATE am_test_group
		<set>
			<if test="groupName != null">
				group_name = #{groupName,jdbcType=VARCHAR},
			</if>
			<if test="createUser != null">
				create_user = #{createUser,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null">
				update_user = #{updateUser,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP}
			</if>
		</set>
		WHERE
		id = #{id,jdbcType=INTEGER}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		DELETE FROM am_test_group WHERE id = #{id}
	</delete>
</mapper>