.navbar-expand-md {
    background-color: #09c;
    border-color:   #09c;
}

/*.nav-link {*/
    /*color: white;*/
/*}*/
/*
.form-control {
    padding: 3px 6px;
    font-size: 14px;
    height: 25px;
}*/
